* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

header {
  background-color: teal;
  height: 4rem;
  width: 100%;
  position: absolute;
}


main {
  margin: 4rem 10%;
  display: flex-box;
  align-content: center;
  background-color: white;
}

